contourpy
cycler
easygui
fonttools
importlib-resources
keyboard
kiwisolver
matplotlib
mido
MouseInfo
numpy
opencv-python
packaging
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
pytweening
pywin32
Send2Trash
six
zipp
